[submodule "lib/clojure"]
	path = lib/clojure
	url = git://github.com/richhickey/clojure.git
[submodule "lib/clojure-contrib"]
	path = lib/clojure-contrib
	url = git://github.com/richhickey/clojure-contrib.git
